.song-list {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .song-list h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .album-info {
    display: flex;
    margin-bottom: 20px;
  }
  
  .artist {
    font-size: 1.5rem;
    margin-right: 20px;
  }
  
  .release-date {
    font-size: 1.5rem;
  }
  
  .cover-art {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
  }
  
  .cover-art img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .songs {
    margin-top: 40px;
    width: 100%;
  }
  
  .song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
  }
  
  .song-info {
    display: flex;
    align-items: center;
  }
  
  .song-title {
    font-size: 1.5rem;
    margin-right: 20px;
    color: var(--primary-color);
  }
  
  .song-length {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
  }
  
