.home-page {
  background-color: #121212;
  color: #fff;
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.last-viewed-artists {
  margin-top: 50px;
}

.last-viewed-artists h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.last-viewed-artists .artist-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  display: inline-block;
  background-color: #1db954;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 50px;
  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: #0f9d58;
}
