.artist-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-profile h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genres, .popularity, .mbid, .aliases {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.genres span, .aliases span {
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.popularity, .mbid {
  font-weight: bold;
}

.aliases {
  font-style: italic;
}
/* format album-info similar to spotify */
.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* format album-art similar to spotify */
.album-art {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  /* center the image vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
