.search-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"], button[type="button"] {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #1d95b9;
}

.artist-list {
  margin-top: 20px;
}

.artist-list h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.artist-list div {
  cursor: pointer;
  margin-bottom: 10px;
}

.artist-list div:hover {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
  form {
    flex-direction: column;
  }

  input[type="text"], button[type="submit"], button[type="button"] {
    margin: 10px 0;
    width: 100%;
  }
}