body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  :root {
    --primary-color: #1d75b9; /* blue */
    --secondary-color: #191414; /* dark grey */
    --background-color: #FFFFFF; /* white */
  }
  
  button {
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
    background-color: #1d95b9; /* lighter shade of blue */
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: #1d95b9; /* lighter shade of blue */
  }
  
  body {
    background-color: var(--background-color);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: var(--secondary-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 1rem;
  }
  
  input {
    font-size: 1rem;
    padding: 10px 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
  }
  
  input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px var(--primary-color);
  }
  